<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cadastro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>
<body>

  <div id="app">

    <form @submit.prevent="addUser">
      <label>
        Nome:
        <input type="text" v-model="newUser.name">
      </label>
      <br>
      <label>
        Email:
        <input type="email" v-model="newUser.email">
      </label>
      <br>
      <button type="submit">Adicionar usuário</button>
    </form>

    <table class="table">
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
      <tr v-for="(user, index) in users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button @click="removeUser(index)">Remover</button>
        </td>
      </tr>
    </table>


  </div>

  <script src='app.js'></script>
</body>
</html>